abzsubmit==0.1
apache-libcloud==2.2.1
appdirs==1.4.4
apsw==3.36.0.post1
argcomplete==1.12.3
argon2-cffi==20.1.0
asgiref==3.5.0
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.1.0
Beaker==1.10.0
beautifulsoup4==4.11.0
binwalk==2.3.2
bleach==4.0.0
blivet==3.4.3
blivet-gui==2.3.0
boto==2.49.0
Bottleneck==1.3.2
Brotli==1.0.9
CacheControl==0.12.6
cachy==0.3.0
cchardet==2.1.7
certifi==2020.12.5
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.4
cheroot==8.5.2
CherryPy==18.6.1
cleo==0.8.1
clikit==0.6.2
crashtest==0.3.1
cryptography==3.4.7
css-parser==1.0.7
cupshelpers==1.0
cycler==0.10.0
dasbus==1.6
dbus-python==1.2.18
decorator==5.0.9
defusedxml==0.7.1
discid==1.2.0
distlib==0.3.2
distro==1.6.0
Django==4.0.4
django-crispy-forms==1.14.0
dnspython==2.1.0
docutils==0.16
entrypoints==0.3
fasteners==0.14.1
feedparser==6.0.6
filelock==3.0.12
flit==3.3.0
flit_core==3.3.0
fonttools==4.26.1
fs==2.4.11
GDAL==3.3.3
gpg==1.15.1
gpodder==3.10.21
gssapi==1.6.14
gunicorn==20.1.0
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
httpie==3.1.0
httplib2==0.20.2
humanize==0.5.1
idna==3.2
ifaddr==0.1.7
imagefactory==1.1.15
imagefactory-plugins==1.1.15
importlib-metadata==4.6.3
initial-setup==0.3.93
ipykernel==5.5.0
ipython==7.26.0
ipython_genutils==0.1.0
jaraco.classes==3.2.1
jaraco.collections==3.0.0
jaraco.functools==3.3.0
jaraco.text==3.2.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
keyring==23.5.0
kismet-rest==2019.5.2
kismon==1.0.2
kiwisolver==1.4.1
koji==1.28.1
langtable==0.0.58
libcomps==0.1.18
libvirt-python==7.6.0
lockfile==0.12.2
lxml==4.6.5
M2Crypto==0.38.0
Mako==1.1.4
Markdown==3.3.6
MarkupSafe==2.0.0
matplotlib==3.5.1
matplotlib-inline==0.1.2
mechanize==0.4.7
mercurial==5.9.3
mistune==0.8.4
monotonic==1.5
more-itertools==8.12.0
msgpack==1.0.3
multidict==5.1.0
munkres==1.1.2
musicbrainzngs==0.7.1
mutagen==1.45.1
mygpoclient==1.8
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.0.8
nest-asyncio==1.4.3
netifaces==0.10.6
networkx==2.6.3
nftables==0.1
notebook==6.4.0
numexpr==2.8.1
numpy==1.21.5
oauth2==1.9.0.post1
odfpy==1.4.1
olefile==0.46
oz==0.19.0
packaging==21.3
pandas==1.3.3
pandas-datareader==0.10.0
pandocfilters==1.5.0
parso==0.8.2
Paste==3.5.0
pastel==0.2.0
pcapy==0.11.5.dev0
pcp==5.0
pexpect==4.8.0
picard==2.7.2
pickleshare==0.7.5
pid==2.2.3
Pillow==8.3.2
pipenv==2021.5.29
pkginfo==1.7.1
platformdirs==2.2.0
ply==3.11
podcastparser==0.6.8
poetry==1.1.8
poetry-core==1.0.4
portend==2.7.1
productmd==1.33
progressbar2==3.53.2
prometheus-client==0.13.1
prompt-toolkit==3.0.24
psutil==5.8.0
ptyprocess==0.6.0
pwquality==1.4.4
pyasn1==0.4.8
pycairo==1.20.1
pychm==0.8.6
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.14.1
pycups==2.0.1
pycurl==7.44.1
pydot==1.4.1
pyenchant==3.2.2
pygit2==1.6.1
Pygments==2.9.0
PyGObject==3.42.0
pygraphviz==1.7
PyJWT==2.1.0
pykickstart==3.34
pylev==1.3.0
pyliblo==0.10.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.12.0
PyQt5==5.15.6
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.2
pyroute2==0.5.14
pyrsistent==0.18.1
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.1
python-decouple==3.6
python-gettext==4.0
python-libdiscid==0.4.1
python-manatools==0.0.3
python-meh==0.50
python-utils==2.5.6
python-xlib==0.31
pytz==2022.1
pyudev==0.22.0
PyX==0.15
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.2.1
quodlibet==4.5.0
redis==3.5.3
regex==2022.3.15
requests==2.27.0
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-toolbelt==0.9.1
rpm==4.17.0
rpmautospec==0.2.5
rsa==4.8
scapy===git-archive.dev8b63d73a17
scipy==1.8.0
scour==0.38.1
SecretStorage==3.3.1
selinux==3.3
Send2Trash==1.7.1
sepolicy==3.3
setools==4.4.0
setroubleshoot==1.1
sgmllib3k==1.0.0
shellingham==1.3.2
simpleaudio==1.0.4
simplejson==3.17.2
simpleline==1.8.2
six==1.16.0
sos==4.2
soundconverter==4.0.3
soupsieve==2.3.1
sqlparse==0.4.2
systemd-python==234
tables==3.6.1
Tempita==0.5.2
templated-dictionary==1.1
tempora==4.1.0
terminado==0.10.1
testpath==0.5.0
toml==0.10.2
tomlkit==0.7.0
tornado==6.1
traitlets==5.0.5
urllib3==1.26.7
virtualenv==20.8.1
virtualenv-clone==0.5.7
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.0
xlrd==2.0.1
xlwt==1.3.0
youtube-dl==2021.12.17
yt-dlp==2022.4.8
zc.lockfile==2.0
zeroconf==0.36.9
zipp==3.5.0
zope.event==4.2.0
zope.interface==5.4.0
